@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-color: #8B3EEA;
  --white-color: #ffffff;
  --black-color: #2B2540;
  --black-color-opacity: #2b2540c4;
  --paragraph-color: #818090;
  --bg-color: #F3F6FD;
  --transition: .4s all ease-in-out;
}

