.hero_small_title{
    font-size: 18px;
    font-weight: 500;
    color: #4141a5;
}
.hero_large_title{
    color: #090031;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.1;
    font-weight: 700;
    font-size: 45px;
}
.hero_text{
    font-size: 18px;
    color: #39325a;
    margin-bottom: 35px;
}
.btn-hero{

    text-align: center;
    display: inline-block;
   
    transition: 0.5s;
    border-radius: 30px;
    padding: 12px 30px;
    z-index: 1;
    color: #ffffff;
    background-color: #0398fc;
    border: 1px solid #0398fc;
    font-size: 15px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
text-decoration: none;
    box-shadow: 0 20px 20px -5px rgba(253, 80, 86, 0.2);
}
.btn-hero1{

    text-align: center;
    display: inline-block;
   
    transition: 0.5s;
    border-radius: 30px;
    padding: 12px 30px;
    z-index: 1;
    color: #0398fc;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
text-decoration: none;
    box-shadow: 0 20px 20px -5px rgba(253, 80, 86, 0.2);
}
.btn-hero:hover{
    color: #0398fc;
    background-color: #ffffff;
    border: 1px solid #0398fc;
}
.home_about_title{
    font-size: 35px;
    font-weight: 700;
    color: #090031;
    line-height: 1.4;
}
.home_about_text{
    font-weight: 400;
    color: #39325a;
    line-height: 1.4;
    font-size: 1rem;
}
.home_abt_option{
    color: #090031;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
}
.we_are_title{
    position: relative;
    font-size: 14px;
    line-height: 36px;
    text-transform: capitalize;
    font-weight: 700;
    color: #0398fc;
}
.we_are_large_title{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    color: #03030f;
    line-height: 1.33em;
}
.why_section_title{
    position: relative;
    color: #10221B;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 20px;
}
.why_section_text{
    font-size: 16px;
    color: #2E2E2E;
}
.learn_text{
    color: white;
    font-size: 34px;
    font-weight: bold;
}

.learn_info{
    font-size: 16px;
    color: #fff;
}
.hero_background{
        background-image: url("./assets/traveling-plain.jpeg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 500px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
}